/* Bump up the font sizes a little */
article { font-size: 17px; }
article pre { font-size: 15px; }
.tag-1 { font-size: 15pt; }
.tag-2 { font-size: 13pt; }
.tag-2 { font-size: 10pt; }
.tag-4 { font-size: 8pt; }

/* With changed body font size, the 4th heading needs some attention */
article h4 {
  margin: 20px 0 9px;
}

/* Spruce up the otherwise black-white theme a tiny bit */
.navbar-default {
  background-color: #426294;
}

/* Prevent wrapping of headings in sidebar at widths < 1100px */
.well-sm {
  padding: 0;
}

/* Bootstrap theme lacks markup for footnotes */
.entry-content .footnote-reference,
.entry-content .fn-backref {
  color: #0059b3;
  border-bottom: none;
  vertical-align: top;
}
.entry-content .footnote-reference {
  font-size: 0.7em;
  margin-left: -0.2em;
}
.entry-content .fn-backref {
  font-size: 0.8em;
}
.footnote {
  margin-bottom: .6em;
  border-left: 5px solid #e6e6e6;
}

/* improved markup for figures */
.figure {
  margin-bottom: 1em;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
.figure img {
  margin-bottom: .5em;
}

/* post-intro class for introductions to posts */
p.post-intro {
  margin-bottom: 1.5em;
  padding: 0 1em 1.5em;
  border-bottom: 1px #e6e6e6 solid;
  font-size: 0.9em;
  font-style: italic;
}

/* Don't render the tag cloud as an actual list */
#tags > li {
  display: inline;
  padding: 3px;
}

/* Configure code/literal font styles and fix styles for highlight tables */
code,
pre,
tt.literal {
  font-family: "Inconsolata";
  word-wrap: normal;
}
tt {
  font-weight: bold;
}
.highlighttable .linenos {
  width: 1%;
}
.highlighttable .linenos pre {
  border-right: none;
}
